@media screen and (max-width:767px){
   body{
    display: grid;
    height: 100vh;
    place-items: center;
   }
    .component--card{
        flex-direction: column;
        width: 90%;
        height: 95%;
        .card--imgholder{
           width: 100%; 
           height: 40%;
            .card--img{
            object-fit: cover;
            width: 100%;
            height: 100%;
           
        }
        }
        .card--details{
            width: 100%;
            .card--details--upper{
                .card--details--para{
                    font-size: 0.9rem;
                    line-height:2;
                }
            }
      
        }
    }
}